<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"/>
<html>
<head>
	<link href="css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="login_area">
	登录区
	</div>
	<div id="main">
		<div id="head">
			<a id="logo_a" href="">
				<div id="logo"></div>
			</a>
			<div id="searchbox">
				搜索栏
			</div>
		</div>
		<div id="body">
			<div id="notice">
				公告栏
			</div>
			<div id="activity">
				活动公告（图片翻页）
			</div>
			<div id="classify">
				商品分类入口
			</div>
			<div id="show1" class="showarea">
				商品展示框1
			</div>
			<div id="show2" class="showarea">
				商品展示框2
			</div>
			<div id="show3" class="showarea">
				商品展示框3
			</div>
			<div id="show4" class="showarea">
				商品展示框4
			</div>	
			<div id="messagebox">
				留言板
			</div>
			<div style="clear:both;"></div> 
		</div>
		<div id="footer">
		</div>
	</div>
</body>
</html>