body {
	margin:0px;
}
#main {
	width:960px;
	height:auto;
	margin:0 auto;
}
#login_area {
	margin:0 auto;
	top:0px;
	width:100%;
	min-width:960px;
	height:25px;
	background-color:#EAEAEA;
	border-bottom:1px solid gainsboro;
}
#head {
	width:100%;
	height:150px;
	background-color:#E0EEE0;
}
#logo_a {
	width:225px;
	height:150px;
	margin:0;
	float:left;
}
#logo {
	width:225px;
	height:150px;
	background:url('../image/logo.png');
}
#searchbox {
	width:735px;
	height:150px;
	float:left;
}
#body {
	width:960px;
	height:auto;
}
#notice {
	width:225px;
	height:300px;
	float:left;
	background-color:#C1FFC1;
}
#activity {
	width:735px;
	height:200px;
	background-color:#ADD8E6;
	float:left;
}
#classify {
	width:735px;
	height:100px;
	background-color:#98FB98;
	float:left;
}
.showarea {
	width:480px;
	height:300px;
	float:left;
}
#show1 {
	background-color:#EEB422;
}
#show2 {
	background-color:#EECBAD;
}
#show3 {
	background-color:#EED5D2;
}
#show4 {
	background-color:#EEE0E5;
}
#messagebox {
	width:960px;
	height:150px;
	float:left;
	background-color:#EEE9BF;
}